.page-group-box {
    height: 30px;
    margin: 40px 0 80px;
    text-align: center;
}


.page-group-box ul{
    display: inline-block;
    margin: 0 auto;
}    

.page-group-item {
    float: left;
    margin: 0 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;

    transition: background .3s;
    -webkit-transition: background .3s;
    
} 


.page-group-item-current {
    text-decoration: underline;
}