
.post-item {
    margin: 10px 20px 40px 0px;
}

.post-item-title{ 
    margin: 25px 0 10px;
}


.posts-item-line {

    height: 40px;
    line-height: 40px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
